@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 7.5%;
  --foreground: 0 0% 95%;
  --primary: 1 76% 55%;
  --primary-foreground: 0 0% 100%;
  --card: 0 0% 10%;
  --card-foreground: 0 0% 95%;
  --border: 0 0% 16%;
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}
